<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodsMapper">
    <select id="getCategory">
        select * from goods_category_table
        where 1 =1
        <if test="reqData == 'null'">
        and category_level = 1
        </if>
        <if test="reqData != 'null'">
            and category_level = 2 and category_ref = #{reqData} 
        </if>
    </select>
    <insert id="insertGoods">
        INSERT INTO GOODS_TABLE
        (
            GDS_NAME,
            GDS_CATEGORY_CODE,
            GDS_PRICE,
            GDS_STOCK,
            GDS_DESC,
            GDS_DATE
        )
        VALUES
        (
            #{GDS_NAME},
            #{GDS_CATEGORY_CODE},
            #{GDS_PRICE},
            #{GDS_STOCK},
            #{GDS_DESC},
            NOW()
        )
    </insert>
    <select id="getGoodsList">
        SELECT A.GDS_NUM,
        A.GDS_NAME,
        A.GDS_PRICE,
        B.CATEGORY_NAME AS GDS_CATEGORY_NAME,
        A.GDS_STOCK,
        A.GDS_DESC,
       DATE_FORMAT(A.GDS_DATE, "%Y %c/%e %r") AS GDS_DATE
        FROM GOODS_TABLE AS A
        INNER JOIN GOODS_CATEGORY_TABLE AS B
        ON A.GDS_CATEGORY_CODE = B.CATEGORY_CODE

    </select>
</mapper>