<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodsMapper">
    <select id="getCategory">
        select * from goods_category_table
        where 1 =1
        <if test="reqData == 'null'">
        and category_level = 1
        </if>
        <if test="reqData != 'null'">
            and category_level = 2 and category_ref = #{reqData} 
        </if>
    </select>
    <insert id="insertGoods">
        INSERT INTO GOODS_TABLE
        (
            GDS_NAME,
            GDS_CATEGORY_CODE,
            GDS_PRICE,
            GDS_STOCK,
            GDS_DESC,
            GDS_IMG,
            GDS_DATE
        )
        VALUES
        (
            #{GDS_NAME},
            #{GDS_CATEGORY_CODE},
            #{GDS_PRICE},
            #{GDS_STOCK},
            #{GDS_DESC},
            #{GDS_IMG},
            NOW()
        )
    </insert>
    <select id="getGoodsList">
        SELECT A.GDS_NUM,
        A.GDS_NAME,
        FORMAT(A.GDS_PRICE, 0) AS GDS_PRICE,
        B.CATEGORY_NAME AS GDS_CATEGORY_NAME,
        B.CATEGORY_REF,
        A.GDS_CATEGORY_CODE,
        A.GDS_STOCK,
        A.GDS_DESC,
        A.GDS_IMG,
       DATE_FORMAT(A.GDS_DATE, "%Y %c/%e %r") AS GDS_DATE
        FROM GOODS_TABLE AS A
        INNER JOIN GOODS_CATEGORY_TABLE AS B
        ON A.GDS_CATEGORY_CODE = B.CATEGORY_CODE
        WHERE 1=1
        <if test="CODE != 'null'">
            AND  A.GDS_CATEGORY_CODE = #{CODE}
        </if>
        <if test="CATEGORY_REF != 'null'">
            AND  B.CATEGORY_REF = #{CATEGORY_REF}
        </if>
        <if test="PAGE != 'null'">
        LIMIT ${PAGE_START}, ${PER_PAGE_NUM}
        </if>
    </select>

    <select id="getGoodsListCount">
        SELECT COUNT(*) AS COUNT
        FROM GOODS_TABLE AS A
        INNER JOIN GOODS_CATEGORY_TABLE AS B
        ON A.GDS_CATEGORY_CODE = B.CATEGORY_CODE
        WHERE 1=1
        <if test="CODE != 'null'">
            AND  A.GDS_CATEGORY_CODE = #{CODE}
        </if>
        <if test="CATEGORY_REF != 'null'">
            AND  B.CATEGORY_REF = #{CATEGORY_REF}
        </if>
    </select>

    <select id="getGoodsOne">
        SELECT A.GDS_NUM,
        A.GDS_NAME,
        FORMAT(A.GDS_PRICE, 0) AS GDS_PRICE,
        B.CATEGORY_NAME AS GDS_CATEGORY_NAME,
        B.CATEGORY_REF,
        A.GDS_CATEGORY_CODE,
        FORMAT(A.GDS_STOCK, 0) AS GDS_STOCK,
        A.GDS_DESC,
        A.GDS_IMG,
       DATE_FORMAT(A.GDS_DATE, "%Y %c/%e %r") AS GDS_DATE
        FROM GOODS_TABLE AS A
        INNER JOIN GOODS_CATEGORY_TABLE AS B
        ON A.GDS_CATEGORY_CODE = B.CATEGORY_CODE       
        <if test="gds_num != 'null'">
            WHERE A.GDS_NUM = #{gds_num}
        </if>
    </select>

    <select id="getCategoryList">
        SELECT CATEGORY_NAME,
        CATEGORY_CODE,
        CATEGORY_REF,
        CATEGORY_LEVEL
        FROM GOODS_CATEGORY_TABLE
    </select>
    <update id="updateGoods">
        UPDATE GOODS_TABLE SET
        GDS_NAME=#{GDS_NAME},
        GDS_PRICE=#{GDS_PRICE},
        GDS_STOCK=#{GDS_STOCK},
        GDS_DESC=#{GDS_DESC},
        GDS_CATEGORY_CODE=#{GDS_CATEGORY_CODE},
        <if test="GDS_IMG != ''">
        GDS_IMG=#{GDS_IMG},
        </if>     
        GDS_DATE=NOW()
        WHERE GDS_NUM = #{GDS_NUM}
        

    </update>
    <delete id="deleteGoods">
        DELETE FROM GOODS_TABLE WHERE GDS_NUM = #{GDS_NUM}
    </delete>
</mapper>