<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
    <insert id="insertUser">
        INSERT INTO USER_TABLE
        (
            USER_ID,
            USER_PW,
            USER_PHONE
        )
        VALUES
        (
            #{USER_ID},
            #{USER_PW},
            #{USER_PHONE}
        )
    </insert>
    <select id="selectLoginUser">
        SELECT USER_ID, USER_PW, USER_PHONE,USER_VERIFY
        FROM USER_TABLE
        WHERE USER_ID = #{USER_ID}
        <if test="USER_CHECK != null">
            AND USER_PW = #{USER_PW}
        </if>
    </select>
</mapper>