<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
    <insert id="insertUser">
        INSERT INTO USER_TABLE
        (
            USER_ID,
            USER_PW,
            USER_PHONE,
            USER_NAME,
            USER_BIRTH,
            USER_GENDER,
            USER_ADDR1,
            USER_ADDR2
        )
        VALUES
        (
            #{USER_ID},
            #{USER_PW},
            #{USER_PHONE},
            #{USER_NAME},
            #{USER_BIRTH},
            #{USER_GENDER},
            #{USER_ADDR1},
            #{USER_ADDR2}
        )
    </insert>
    <insert id="insertUserKakao">
        INSERT INTO USER_TABLE
        (
            USER_ID,
            USER_NAME
        )
        VALUES
        (
            #{USER_ID},
            #{USER_NAME}
        )
    </insert>
    <select id="selectLoginUser">
        SELECT USER_ID, USER_PW, USER_NAME,USER_VERIFY
        FROM USER_TABLE
        WHERE USER_ID = #{USER_ID}
        <if test="USER_CHECK != null">
            AND USER_PW = #{USER_PW}
        </if>
    </select>

    <select id="selectLoginUserKakao">
        SELECT USER_ID, USER_NAME,USER_VERIFY
        FROM USER_TABLE
        WHERE USER_ID = #{USER_ID}
    </select>

    <select id="getUserList">
        SELECT 
        USER_ID,
        USER_PHONE,
        USER_VERIFY,
        USER_NAME,
        USER_BIRTH,
        USER_GENDER,
        DATE_FORMAT(CREATED_DT, "%Y %c/%e %r") AS CREATED_DT
        FROM USER_TABLE
        WHERE 1= 1
        <if test="USER_ID != 'null' || USER_ID != ''">
            AND USER_ID LIKE  CONCAT('%',#{USER_ID},'%')
        </if>
        <if test="USER_NAME != 'null' || USER_NAME != ''">
            AND USER_NAME LIKE CONCAT('%',#{USER_NAME},'%')
        </if>
        <if test="USER_VERIFY != 'null' && USER_VERIFY != ''">
            AND USER_VERIFY = ${USER_VERIFY}
        </if>
        <if test="PAGE != 'null'">
        LIMIT ${PAGE_START}, ${PER_PAGE_NUM}
        </if>
    </select>

    <select id="getUserListCount">
        SELECT 
        COUNT(*) AS TOTAL_COUNT
        FROM USER_TABLE
        WHERE 1= 1
        <if test="USER_ID != 'null' || USER_ID != ''">
            AND USER_ID LIKE  CONCAT('%',#{USER_ID},'%')
        </if>
        <if test="USER_NAME != 'null' || USER_NAME != ''">
            AND USER_NAME LIKE CONCAT('%',#{USER_NAME},'%')
        </if>
        <if test="USER_VERIFY != 'null' && USER_VERIFY != ''">
            AND USER_VERIFY = ${USER_VERIFY}
        </if>
        <if test="PAGE != 'null'">
        LIMIT ${PAGE_START}, ${PER_PAGE_NUM}
        </if>
    </select>

    <update id="updateUser">
        UPDATE USER_TABLE 
        SET USER_NAME = #{USER_NAME},
        USER_PHONE = #{USER_PHONE},
        USER_VERIFY = #{USER_VERIFY},
        USER_GENDER = #{USER_GENDER}
        WHERE USER_ID = #{USER_ID}
    </update>

    <delete id="deleteUser">
        DELETE FROM USER_TABLE       
         WHERE USER_ID = #{USER_ID}
    </delete>

</mapper>