body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    transition: .3s all ease-in-out;
}
a:hover {
    text-decoration: none;
}
img {
    width: 100%;
}
.raleway {
    font-family: 'raleway', sans-serif;
}
.raleway span {
    font-family: 'Open Sans', sans-serif;
}
.btn-theme {
    background: #40bea7;
    border-radius: 0px;
    color: #fff !important;
    font-size: 10pt;
    padding: 10px 25px;
}

.btn-theme:hover {
    background: #494949;
}
.top-bar {
    background-color: #191919;
    min-height: 58px;
}
.social,
.action {

}
.social ul,
.action ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.social ul li,
.action ul li {
    float:left;
    padding: 20px 10px;
}
.social ul li a,
.action ul li a {
    color: #fff;
    transition: .2s all ease-in-out;
    
}

.social ul li a:hover,
.action ul li a:hover {
    color: #666;
    
}

.header {
    min-height: 200px;
}
.logo {
    padding-top: 60px;
}
.logo img {
    width: 100%;
}
.search-form {
    text-align: center;
    padding-top: 70px;
}
form.navbar-form {
    overflow: hidden;
}
form.navbar-form input {
    min-width: 450px;
    border-width: 1px;
    border-radius: 0px;
    border-color: #40bea7;
    color: #000;
    padding: 20px;
    font-size: 10pt;
}
form.navbar-form button {
    border: 0px;
    border-radius: 0px;
    background-color: #494949;
    color: #fff;
    padding: 12px 15px;
    font-size:10pt;
    margin-left: -5px;
    max-height: 42px;
    transition: .2s all ease-in-out;
}
.cart {
    padding-top: 80px;
    display: inline-block;
    width: 100%;
}
.cart-icon {
    background-color: #40bea7;
    color:#fff;
    padding: 10px 15px;
    width: 40px;
    float: left;
}
.cart-icon a {
    color: #ffffff
}
.cart-text {
    width: 115px;
    text-align: center;
    font-weight: 600;
    float: left;
    margin-left: 10px;
}

.navigation {
    background: #40bea7;
}
.navigation nav {
    border: none;
}
#navbar ul li a {
    color: #ffffff;
    text-transform: uppercase;
    padding: 25px 10px;
}
#navbar ul li a:hover {
    background: #fff;
    color: #2f2f2f;
}
.shop-category {
    margin: 18px 0px;
}
.shop-category button.btn {
    background: none !important;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0px;
    padding:6px 40px;
    text-transform: uppercase;
    font-size: 10pt;
    box-shadow: none !important;
}
.shop-category ul.dropdown-menu {
    background: #40bea7;
    border-radius: 0px;
    border:0px;
    padding-top: 17px;
}
ul.dropdown-menu li {
    padding: 0px;
    margin: 0px;
}
ul.dropdown-menu li a {
    padding: 10px 20px;
    min-width: 220px;
    color: #ffffff;
    text-transform: uppercase;
}

.slider .item {
    height: 390px;
    background-size: contain;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-caption {
    top: 10%;
    right: 5%;
    bottom: 10%;
    left: 5%;
    width: 50%;
    text-transform: uppercase;
    color: #595959;
    text-shadow: none;
}
.carousel-caption .btn-theme {
    position: absolute;
    bottom: 0;
    left: 0;
}
.carousel-caption h1,
.carousel-caption h2,
.carousel-caption h3,
.carousel-caption h4,
.carousel-caption h5,
.carousel-caption h6,
.carousel-caption p,
.carousel-caption a {
    margin: 0px;
}
ol.carousel-indicators li {
    background: #494949;
    border: none;
}
ol.carousel-indicators li.active {
    background: #40bea7;
}
.small-slider .carousel-caption {
    text-align: left;
}
.big-slider .carousel-caption {
    top: 25%;
}

.banner {
    margin: 30px 0px;
}
.single-banner {
    height: 236px;
    background-size: contain;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-caption {
    width: 60%;
    text-align: center;
    height: 100%;
    padding: 50px 10px 0px;
    position: relative;
}
.banner-caption h3 {
    font-family: 'raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16pt;
}
.banner-caption .btn {
    bottom: 20px;
    left: 20px;
    position: absolute;
}
.shopping-process {
    background: #f6f6f6;
    padding: 65px 0px;
}
.single-process h3 {
    font-family: 'raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15pt;
}
.single-process i.fa {
    color: #fff;
    font-size: 35px;
    border: 3px solid #40bea7;
    border-radius: 50%;
    padding: 20px;
    background: #40bea7;
}
.single-process:hover i.fa {
    background: #fff;
    color:#40bea7;
}
.featured-items {
    padding: 60px 0px;
}
.nav.nav-tabs {
    background: #40bea7;
    border: none;
    text-transform: uppercase;  
    margin: 0px 15px 30px;
    overflow: hidden;
    font-family: 'raleway', sans-serif;
}
.nav.nav-tabs li.active a {
    background: #3aa28f;
    border: none;
    border-radius: 0px;
}
.nav.nav-tabs li a {
    color: #fff;
    font-size: 12pt;
    font-weight: 600;
    border: none;
    border-radius: 0px;
    padding: 10px 20px;
}
.nav.nav-tabs li:hover a {
    border: 0px;
    border-radius: 0px;
    background: #3aa28f;
    color: #fff;
}
.nav.nav-tabs li.collection-url a {
    font-size: 10pt;
    padding: 11px;
}
.single-product {
    border:3px solid #40bea7;
    margin-bottom: 30px;
    position: relative;
    transition: .2s all ease-in-out;
}
.product-block img.thumbnail {
    width: 100%;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    border:0px;
}
.product-hover {
    opacity:0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transition: .2s all ease-in-out;
}
.product-description {
    background: #40bea7;
}
.product-description p {
    margin: 0px;
    color:#fff;
    padding-top:10px;
    font-weight: 600;
}
.product-description p.price {
    padding-top: 0px;
    padding-bottom: 10px;
}
.single-product:hover .product-hover {
    opacity:1;
    height:50%       
}
.product-hover ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}
.product-hover ul li {
    display: inline-block;
    margin:0px 5px;
}
.product-hover ul li a {
    color: #fff;
    background: #40bea7;
    padding: 8px;
    font-size: 15pt;
}
.product-hover ul li a:hover {
    color: #40bea7;
    background: #fff;
}
.blog {
    
}
.blog-title {
    background: #40bea7;
    height: 45px;
    margin: 0px 15px 30px;
    padding: 2px 15px;
    font-family: 'raleway', sans-serif;
}
.blog-title h2, .blog-title a {
    color: #fff;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
}
.blog-title h2 {
    padding: 10px 0px;
    font-size: 15pt
}
.blog-title a {
    padding: 10px 0px;
    font-size: 10pt;    
}
.blog-title a:hover {
    color: #666;
}
.single-post {
    
}
.post-thumbnail {
    position: relative;
}
.post-thumbnail img {
    width: 100%;
}
.post-thumbnail .date {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #40bea7;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
.post-thumbnail a.read-more {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #40bea7;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
.single-post h4.post-title {
    font-weight: 600;
    font-family: 'raleway', sans-serif;
}
.footer {
    background: #191919;
    padding: 50px 0px;
    color: #fff;
    margin-top: 50px;
}
.single-widget {
    position: relative;
    padding-right: 20px;
} 
.single-widget:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    background: #d5d5d5;
    content: '';
    height: 100%;
    min-height: 230px;
}
.footer .col-md-3:last-child .single-widget:after {
    width: 0px;
}
.single-widget h2.widget-title {
    font-size: 18pt;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 10px;
    font-family: 'raleway', sans-serif;
}
.widget-inner, .widget-inner a {
    color: #d5d5d5;
}
.widget-inner img {
    padding: 15px 0px;
}
.single-widget ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.single-widget ul li {
    padding: 5px 0px;
}
.copyright {
    background: #0e0e0e;
    padding: 30px 0px;
    color: #fff;
    font-family: 'raleway', sans-serif;
}



.short-description {
    margin: 20px 0px;
}
.nav-single-product-tabs {
    margin: 15px !important;
}
.product-desc {
    margin: 0px 15px;
}
.product-thumbnail {
    margin: 0px;
    padding: 0px;
}
.thumb-image {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.thumb-image li {
    margin-bottom: 20px;
}
.thumb-image li:last-child {
    margin-bottom: 0px;
}
.thumb-image img {
    width: 100%;
    border: 3px solid #ebebeb;
}
.thumb-image li.active img {
    border-color: #40bea7;
}
.short-description .col-md-6, .short-description .col-md-2, .short-description .col-md-10 {
    padding-left: 0px;
    color: #323232;
}
.thumb-main-image img {
    width: 100%;
}

h1.product-title {
    margin: 0px;
    padding: 0px;
}
.ratings{
    margin: 5px 0px;
}
.ratings i.fa {
    color: #ffea00;
}
span.strong-text {
    font-weight: 800;
}
span.product-id {
    margin-right: 20px;
}
p.short-info {
    padding: 10px 0px;
    margin: 0px;
}
.price {
    font-size: 28px;
    font-weight: 800;
    position: relative;
}
.price span {
    background: #fff;
    padding-right: 30px;
    z-index: 9;
}
.price:after {
    content: '';
    position: absolute;
    right: 0;
    top: 20px;
    width: 100%;
    height: 2px;
    background: #bebebe;
    z-index: -9;
}
.purchase-form {
    padding: 15px 0px 25px;
    margin-bottom: 20px;
    border-bottom: 2px solid #bebebe;
}
.purchase-form input.qt {
    
}
.qt-area {
    display: inline-block;
    border: 1px solid #d5d5d5;
}
.qt-area i.fa:first-child {
    border-right: 1px solid #d5d5d5;
}
.qt-area i.fa:last-child {
    border-left: 1px solid #d5d5d5;
}
.qt-area i.fa {
    color: #d5d5d5;
    padding: 12px;
    margin: 0px;
}
.qt-area input.qt {
    padding: 8px;
    margin: -5px;
    border: 0px;
    background: none;
    border: none;
    width: 50px;
    font-size: 14pt;
    text-align: center;
    color: #d5d5d5;
    box-shadow: none;
    overflow: hidden;
}
.social-share {
    display: inline-block
}
.social-share ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.social-share ul li {
    display: inline-block;
    padding: 0px 3px;
}
.social-share ul li a {
    color: #6d6d6d;
}
.social-share ul li a:hover {
    color: #40bea7;
}
.purchase-form button.btn-theme {
    text-transform: uppercase;
    margin: 0px 15px;
}
ul.product-info-btn {
    padding: 0px;
    margin: 20px 0px;
    list-style: none;
}
ul.product-info-btn li {
    display: inline-block;
}
ul.product-info-btn li a {
    padding: 10px;
    border-right: 2px solid #ebebeb;
    color: #6d6d6d;
}
ul.product-info-btn li a:hover {
    color: #323232;
}
ul.product-info-btn li:first-child a {
    padding-left: 0px;
}
ul.product-info-btn li:last-child a {
    border: none;
}