<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartMapper">
    <insert id="addGoodsCart">
        INSERT INTO GOODS_CART_TABLE
        (
            GDS_NUM,
            USER_ID,
            CART_STOCK,
            CART_ADD_DATE
        )
        VALUES(
         #{GDS_NUM},
         #{USER_ID},
         #{CART_STOCK},
         NOW()   
        )
    </insert>

    <insert id="orderInfo">
 INSERT INTO GOODS_ORDER_TABLE(
     ORDER_ID,
     USER_ID, 
     ORDER_RECIEVE, 
     USER_ADDR1, 
     USER_ADDR2,
     ORDER_PHONE, 
     TOTAL_PRICE,
     GDS_NUM)
     VALUES
        <foreach collection="ITEM" item="item" separator=",">
         (#{item.ORDER_ID}, #{USER_ID}, #{ORDER_RECIEVE}, #{USER_ADDR1}, #{USER_ADDR2}, #{ORDER_PHONE}, #{TOTAL_PRICE}, ${item.GDS_NUM})
         </foreach>
         
</insert>

<insert id="orderInfo_Details">
        INSERT INTO GOODS_ORDER_DETAIL_TABLE
    (
        ORDER_ID, 
        GDS_NUM, 
        CART_STOCK,
        USER_ID
    )
      VALUES
      <foreach collection="ITEM" item="item" separator=",">
        (#{item.ORDER_ID}, ${item.GDS_NUM}, ${item.CART_STOCK}, #{USER_ID})
      </foreach>
      
</insert>

<update id="updateGoodsStock">
    UPDATE GOODS_TABLE SET GDS_STOCK = GDS_STOCK - ${CART_STOCK} WHERE GDS_NUM = ${GDS_NUM}
</update>
    <update id="updateGoodsStock2">
        UPDATE GOODS_TABLE SET GDS_STOCK = GDS_STOCK + ${CART_STOCK} WHERE GDS_NUM = #{GDS_NUM}
    </update>


    <select id="getCartList">
        SELECT 
        A.CART_NUM,
        A.USER_ID,
        A.GDS_NUM,
        FORMAT(A.CART_STOCK,0) AS CART_STOCK,
        DATE_FORMAT(A.CART_ADD_DATE, "%Y %c/%e %r") AS CART_ADD_DATE,
        FORMAT(B.GDS_STOCK,0) AS GDS_STOCK,
        B.GDS_IMG,
        B.GDS_NAME,
        B.GDS_PRICE
        FROM GOODS_CART_TABLE AS A
        INNER JOIN GOODS_TABLE AS B
        ON A.GDS_NUM = B.GDS_NUM
        WHERE A.USER_ID = #{user_id}

    </select>

    <select id="getOrderList">
        SELECT
         A.ORDER_ID,
        A.USER_ID,
        FORMAT(A.TOTAL_PRICE,0) AS TOTAL_PRICE,
        B.GDS_NUM,
        B.CART_STOCK,
        B.STATUS,
        C.GDS_NAME,
        C.GDS_IMG,
        DATE_FORMAT(A.ORDER_DATE, "%Y %c/%e %r") AS ORDER_DATE        
        FROM
        GOODS_ORDER_TABLE AS A
        INNER JOIN GOODS_ORDER_DETAIL_TABLE AS B
        ON A.ORDER_ID = B.ORDER_ID
        AND A.USER_ID = B.USER_ID
        INNER JOIN GOODS_TABLE AS C
        ON B.GDS_NUM = C.GDS_NUM
        WHERE 1=1 
        <if test="USER_ID != 'null' || USER_ID != ''">
           AND A.USER_ID LIKE CONCAT('%',#{USER_ID},'%')
        </if>
        <if test="USER_ID2 != ''">
           AND A.USER_ID = #{USER_ID2}
        </if>
        <if test="GDS_NAME != 'null' || GDS_NAME != ''">
            AND C.GDS_NAME LIKE CONCAT('%',#{GDS_NAME},'%')
        </if>
        <if test="STATUS != 'null' && STATUS != ''">
            AND B.STATUS = ${STATUS}
        </if>
        <if test="status != ''">
            AND B.STATUS = ${status}
        </if>
        <if test="gdsName != ''">
            AND C.GDS_NAME LIKE CONCAT('%', #{gdsName}, '%')
        </if>
        ORDER BY ORDER_DATE ASC
        <if test="PAGE != 'null' || PAGE != ''">
        LIMIT ${PAGE_START}, ${PER_PAGE_NUM}
        </if>
        <if test="page != ''">
            LIMIT ${pageStart}, ${perPageNum}
        </if>
        
        
    </select>

    <select id="getOrderListCount">
        SELECT
        DISTINCT COUNT(*) AS TOTAL_COUNT       
        FROM
        GOODS_ORDER_TABLE AS A
        INNER JOIN GOODS_ORDER_DETAIL_TABLE AS B
        ON A.ORDER_ID = B.ORDER_ID
        AND A.USER_ID = B.USER_ID
        INNER JOIN GOODS_TABLE AS C
        ON B.GDS_NUM = C.GDS_NUM
        WHERE 1=1
        <if test="USER_ID != 'null' || USER_ID != ''">
           AND A.USER_ID LIKE CONCAT('%',#{USER_ID},'%')
        </if>
        <if test="USER_ID2 != ''">
           AND A.USER_ID = #{USER_ID2}
        </if>
        <if test="GDS_NAME != 'null' || GDS_NAME != ''">
            AND C.GDS_NAME LIKE CONCAT('%',#{GDS_NAME},'%')
        </if>
        <if test="STATUS != 'null' && STATUS != ''">
            AND B.STATUS = ${STATUS}
        </if>
        <if test="status != ''">
            AND B.STATUS = ${status}
        </if>
        <if test="gdsName != ''">
            AND C.GDS_NAME LIKE CONCAT('%', #{gdsName}, '%')
        </if>
        ORDER BY ORDER_DATE ASC

    </select>

    <update id="updateOrderList">
    UPDATE GOODS_ORDER_DETAIL_TABLE SET STATUS = ${STATUS} WHERE ORDER_ID = #{ORDER_ID} AND GDS_NUM = ${GDS_NUM}
    </update>

    
    <delete id="deleteOrderList">
        DELETE T1, T2 FROM GOODS_ORDER_DETAIL_TABLE AS T1 INNER JOIN GOODS_ORDER_TABLE AS T2
        WHERE T1.ORDER_ID = #{ORDER_ID} AND T1.GDS_NUM = ${GDS_NUM} AND T2.ORDER_ID = #{ORDER_ID} AND T2.GDS_NUM = ${GDS_NUM}
    </delete>

    <delete id="deleteCart">
        DELETE FROM GOODS_CART_TABLE
        WHERE 1 = 1
            <if test="CART_NUM != 'null'">
                AND USER_ID = #{USER_ID} AND CART_NUM = #{CART_NUM}
            </if>
    </delete>
</mapper>